* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
}

.name {
  color: #e9befe;
}

svg, .diff {
  stroke: #e9befe;
}

.link-style, .link-style-special {
  color: #e9befe;
}

.link-style:hover, .link-style-special:hover {
  color: white;
  text-decoration: underline;
}

.card {
  background-color: #000000;
}

.proj-head {
  color: #e9befe;
}

.proj-head:hover {
  color: white;
  text-decoration: underline;
}

.btn {
  border-color: #e9befe;
}

.btn:hover {
  box-shadow: 5px 5px 10px white, -5px -5px 10px #e9befe;
}
