* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin: 0 auto;
  background: transparent;
}

.main {
  margin-top: 3%;
}

.pic {
  width: 100%;
  height: 100%;
}

.about, .desc {
  font-size: 18px;
}

.nav-item {
  font-size: 18px;
  text-align: right;
}

.botnav {
  margin-top: 3em;
  margin-bottom: 7em;
}

.linkedin-space {
  margin-right: 0.25em;
}

.icon-tabler:hover,
a:hover {
  cursor: pointer;
}

.icon-img,
.icon-tabler, {
  margin-right: .5em;
}

.form-box {
  width: 35%;
  padding-top: 2em;
}

.btn:hover {
  background-color: transparent;
  border-color: transparent;
}

.project-container  {
  margin-bottom: -3em;
}

@media (max-width: 800px) {
  .carousel-item img {
    width: 70%;
    margin-left: 15%;
  }

  .main {
    margin-top: 0;
  }

  .pic {
    width: 70%;
  }

  .name {
    display: flex;
    justify-content: center;
    margin-top: -0.5em;
  }

  .links {
    display: flex;
    justify-content: center;
    order: 1;
  }

  .links > a > svg {
    margin: 0 0.2em;
  }

  .about {
    display: flex;
    order: 2;
  }

  .botnav {
    margin-top: -1em;
  }

  .card {
    margin-bottom: -3em;
  }

  .form-box {
    width: 100%;
  }

  .navbar-toggler-icon {
    padding-left: 0.75em;
  }

  .form-box {
    margin-top: -2em;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
